@use "./variables" as vars;
@use "./grid" as grid;

// Typography
body {
    font-family: "Geist", -apple-system, sans-serif;
}

h1.intro-title,
.h1,
.intro-title {
    font-size: clamp(2rem, 4.25vw, 3.25rem);
    line-height: 116%;
    font-family: "Cal Sans", -apple-system, sans-serif;
    letter-spacing: 0.025rem;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin-bottom: 0;
    margin-top: 0;

    @include grid.responsive-grid-column((
            'base': ('start': 1, 'span': 26),
            'md': ('start': 2, 'span': 24),
            'lg': ('start': 4, 'span': 17)
    ));
}

h2 {
    line-height: 130%;
    margin-bottom: 0;
}

p {
    color: #7a7a7a;
    font-size: 1.25rem;
    font-weight: 400;

    &.intro-text {
        @include grid.responsive-grid-column((
                'base': ('start': 1, 'span': 26),
                'md': ('start': 2, 'span': 24),
                'lg': ('start': 4, 'span': 16)
        ));
    }

    &.small-text {
        font-size: 0.875rem;
    }
}

.text-white {
    color: vars.$dm-white-color;
}

.section-title {
    margin-top: 0;
    font-size: 2.5rem;
}

// Images
img {
    width: 100%;
    height: auto;
}
