
$text-color-white: #fff;
$white-color: #fff;
$black-color: #000;
$red-color: red;
$rebeccapurple: rebeccapurple;

$dm-white-color: #fff;
$dm-black-color: #323232;
$dm-yellow: #f1e218;
$villa-greek: #F0ECE2;


$darkest-black-color-0A0A0A: #0A0A0A;